
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
.container{
    background: rgb(200, 226, 243);
    box-shadow: 20px 20px 75px #cac7c7, -20px -20px 75px #ffffff;
    border-radius: 10px;
}

.city-info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.time{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
}

.title{
    text-align: center;
}

footer{
    text-align: center;
}

footer a{
    text-decoration: none;
}

